Package: com.ding.tiktok
Name: TikTok_hook
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ding
Author: ding
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
